header {
  background-color: #071d41;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem;
}

img {
  max-width: 200px;
}

.icons {
  display: flex;
  gap: 2rem;
}

svg {
  max-width: 35px;
  max-height: 35px;
}
